Package: foxxos-desktop
Version: 1.0-8
Maintainer: YuaFox
Architecture: amd64
Description: Utterly nord plasma KDE theme
Depends: kde-standard, plasma-nm, plasma-bigscreen, qt5-style-kvantum, qt5-style-kvantum-themes
Conflicts: desktop-base
